
html{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    background-color:#6e9f46;
    line-height:1.3em;
}
body{
    margin-left:1%;
    display:grid;
    grid-template-areas:
    "nav"
    "body";
}

img{
    margin-right:7%; 
    float:left;
}
li{
    line-height: 1.5em;
}
.navigation-grid{
    display:grid;
    text-align:center;
    text-decoration: none;
    grid-template-columns: 90% 10%;
    grid-template-areas: 
    "title title"
    "main1 subM1"
    "smen1 smen1"
    "main2 main2"
    "main3 main3"
    "main4 subM4"
    "smen4 smen4"
    "main5 main5";
    height: 8em;
    overflow-y: scroll;
}

.navigation-grid > a{
    padding:1.5%;
    border: solid 1px #450a45;
}
.mainSubject{
    grid-area: title;
    text-align:center;
    margin: 1% 0;
}
.mainTopic1{
    grid-area: main1;
}
.sub-btn1{
    grid-area: subM1;
}
.smen1{
    grid-area:smen1;
}
.mainTopic2{
    grid-area: main2;
}

.mainTopic3{
    grid-area: main3;
}

.mainTopic4{
    grid-area: main4;
}
.sub-btn4{
    grid-area: subM4;
}
.smen4{
    grid-area:smen4;
}
.mainTopic5{
    grid-area: main5;
}
button{
    cursor: pointer;
    background-color:#6a2910;
    border:none;
}
a{
    cursor: pointer;
}
i{
    color:gold;
}
hr{
    border: 1px solid;
    color: #743374;
}
.subTopic-hr{
    width: 70%;
    margin-inline-start: 0em;
    margin-top: 4px;
}
#navbar{
    grid-area:nav;
}
#navbar ul{
    list-style:none;
    padding:0;
    border-top: 1px solid #450a45;
    border-bottom: 1px solid #450a45;
    margin:0;
    border-right: 1.5px solid #450a45;
    border-left: 1.5px solid #450a45;
}
#navbar li{
    padding:1%;
    border-top: 0.5px solid #450a45;
    border-bottom: 0.5px solid #450a45;
    text-align: right;
}
#navbar a{
    text-decoration: none;
    color:black;
}
.sub-menu{
    display:none;
}
.attentionBox{
    width: 10em;
    margin: auto;
    height: auto;
    background: lightgray;
    border: 2px solid grey;
    padding: 1em;
}
.imgContainer{
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
}
.imgContainer img{
    width:28em;
    margin:1%;
}
.ulTable{
    border-left:solid 1px;
}
@media(min-width:376px){
    .navigation-grid{
        grid-template-columns: 90% 10%;
    }
}

@media(min-width:768px){
    body{
        display:grid;
        grid-template-areas:
        "nav body";
        grid-template-columns: 20% 70%;
        grid-column-gap:1%;
        
    }
    .navigation-grid{
        display:grid;
        grid-template-areas:
        "title tiele"
        "main1 subM1"
        "smen1 smen1"
        "main2 main2"
        "main3 main3"
        "main4 subM4"
        "smen4 smen4"
        "main5 main5";
       overflow-y:initial;
       height:auto;
       font-size:x-small;
    }
 
    #navbar li{
        font-size:initial;
    }
    #navbar a{
        text-align:left;
    }
    #navbar{
        position: fixed;
        width:20%;
    }
    #main-doc{
        grid-area:body;
    }
}
